# Django settings
SECRET_KEY=Секретный ключ вашего Django
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_NAME=Имя базы данных
DB_USER=Имя пользователя
DB_PASSWORD=пароль
DB_HOST=Хост
DB_PORT=Порт

# Telegram
TELEGRAM_TOKEN=ID канала
TELEGRAM_BOT_NAME=Название канала

# Celery (Redis)
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000